{{>header}}
    <h1>TimeTracking</h1>
        <p>Blablabla</p>   
        <form action="/timeTracker/" method ="POST">
        Please type in your working hours<br>
        Start:<br>
         <input type="time" name="start"><br>
        Stop:<br>
          <input type="time" name="stop"><br>
        Pause:<br>
          <input type="time" name="pause"><br>
        <input type="submit" value="Submit">   
{{>footer}}
    </body>
</html>
