{{>header}}
    <h1>WeatherApp</h1>
        <p>From where do you want to know the weather?</p>
        <form action="/weather/" method ="POST">
        Please type in any address!<br>
         <input type="text" name="givenAddress"><br>
        <input type="submit" value="Submit">
</form>        
{{>footer}}
    </body>
</html>
